<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" />

        <!-- Local notifications -->

        <receiver
            android:exported="false"
            android:name="tmg.flashback.notifications.receivers.LocalNotificationBroadcastReceiver" />

        <!-- Remote notifications -->

        <service
            android:name="tmg.flashback.notifications.service.RemoteNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>