*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

composeApp/src/production/google-services.json
composeApp/src/sandbox/google-services.json
iosApp/iosApp/Firebase/GoogleService-production.plist
iosApp/iosApp/Firebase/GoogleService-sandbox.plist

composeApp/flashback-database**