name: Main
'on':
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.yml'
      - '**.png'
jobs:
  unit-tests:
    uses: ./.github/workflows/job-unit-tests.yml
    secrets: inherit